:root {
  --source-color: #c09247;
  --primary: #f1be6d;
  --on-primary: #432c00;
  --primary-container: #604000;
  --secondary: #dcc3a1;
  --on-secondary: #3d2e16;
  --tertiary: #b6cea3;
  --on-tertiary: #223517;
  --surface: #18130b;
  --on-surface: #ece1d4;
  --surface-container: #241f17;
  --background: #18130b;
  --on-background: #ece1d4;
  --outline: #9b8f80;
  --error: #ffb4ab;
}
