:root {
  --source-color: #241b2c;
  --primary: #dbb9f9;
  --on-primary: #3f2458;
  --primary-container: #563a70;
  --secondary: #d1c1d9;
  --on-secondary: #372c3f;
  --tertiary: #f3b7bd;
  --on-tertiary: #4b252a;
  --surface: #151217;
  --on-surface: #e8e0e8;
  --surface-container: #221e24;
  --background: #151217;
  --on-background: #e8e0e8;
  --outline: #968e98;
  --error: #ffb4ab;
}
